extends layout

block content
  table#statustable
    tr#currentstatus
      td(colspan="100%") There are no courses currently being played.
    tr#nextstatus
      td(colspan="100%") There are no unplayed courses in the list